<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="deveblockstacker_android.deveblockstacker_android"
	android:installLocation="auto"
	android:versionName="1.4"
	android:versionCode="4">
	<uses-sdk
		android:minSdkVersion="21"
		android:targetSdkVersion="30" />
	<application
		android:allowBackup="true"
		android:label="DeveBlockStacker.Android"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.Splash"
		android:banner="@drawable/googletvbanner"
		android:isGame="true">
		<activity
			android:name="DeveBlockStacker.Android.MainActivity"
			android:icon="@drawable/icon"
			android:label="DeveBlockStacker"
			android:logo="@drawable/icon"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.software.leanback" android:required="false" />
</manifest>