<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="deveblockstacker_android.deveblockstacker_android" android:installLocation="auto" android:versionCode="3" android:versionName="1.3">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:allowBackup="true" android:label="DeveBlockStacker.Android" android:roundIcon="@drawable/iconhighres" android:supportsRtl="true" android:theme="@style/Theme.Splash"></application>
</manifest>